<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Clientes</h1>
    </div>

    <div
      class="col-12 md-6 lg-3 flex flex-column md:flex-row md:justify-content-between"
    >
      <div class="col-6">
        <a
          pButton
          label="Success"
          class="p-button-success"
          label="Nova Pessoa"
        ></a>
      </div>
      <div class="col-6 flex justify-content-end">
        <p-treeSelect placeholder="Ações"></p-treeSelect>
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Pesquisa" />
        </span>
      </div>
    </div>
  </div>

  <div class="grid" style="margin-top: 15px">
    <div class="col-12">
      <app-person-table [data]="persons"></app-person-table>
    </div>
  </div>
</div>
