<p-table
  [value]="persons"
  selectionMode="multiple"
  responsiveLayout="scroll"
  [responsive]="true"
  [exportHeader]="'customExportHeader'"
  [paginator]="true"
  [rows]="4"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Status</th>
      <th class="col-acoes-header"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td class="p-column-title">{{ person.name }}</td>
      <td class="p-column-title">{{ person.city }}</td>
      <td>
        <span class="p-column-title">Status</span>
        <a
          href="javascript:;"
          [pTooltip]="person.status ? 'Desativar' : 'Ativar'"
          tooltipPosition="top"
        >
          {{ person.status ? "Ativo" : "Inativo" }}
        </a>
      </td>
      <td class="col-acoes">
        <a
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          pTooltip="Editar"
          tooltipPosition="top"
          class="p-button-rounded p-button-outlined"
        ></a>

        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          pTooltip="Excluir"
          tooltipPosition="top"
          class="p-button-rounded p-button-danger p-button-outlined"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">Nenhuma pessoa encontrada</td>
    </tr>
  </ng-template>
</p-table>
