<div class="container">
  <form
    autocomplete="off"
    #registerForm="ngForm"
    (ngSubmit)="save(registerForm)"
  >
    <div class="grid">
      <div class="col-12">
        <h1>Novo lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton
          #type
          [options]="types"
          name="type"
          [(ngModel)]="defaultType"
        >
        </p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          name="vencimento"
          ngModel
          #vencimento="ngModel"
          [required]="true"
        ></p-calendar>
        <app-message
          [control]="vencimento"
          error="required"
          text="Informe a data do Vencimento"
        ></app-message>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>{{
          type.value === "RECEITA" ? "Recebimento" : "Pagamento"
        }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          required
          minlength="5"
          name="description"
          ngModel
          #description="ngModel"
        />
        <app-message
          [control]="description"
          error="required"
          text="Informe uma descrição"
        ></app-message>
        <app-message
          [control]="description"
          error="minlength"
          text="Mínimo de {{
            description.errors?.['minlength']?.requiredLength
          }} caracteres. Você digitou apenas {{
            description.errors?.['minlength']?.actualLength
          }}"
        >
        </app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Valor</label>
        <p-inputNumber
          mode="currency"
          currency="BRL"
          placeholder="0,00"
          name="value"
          ngModel
          #value="ngModel"
          [required]="true"
        ></p-inputNumber>
        <app-message
          [control]="value"
          error="required"
          text="Informe um valor"
        ></app-message>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown
          [options]="categories"
          [filter]="true"
          filterBy="label"
          placeholder="Selecione"
          name="category"
          ngModel
          #category="ngModel"
          [required]="true"
        ></p-dropdown>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown
          [options]="persons"
          [filter]="true"
          filterBy="label"
          placeholder="Selecione"
          name="person"
          ngModel
          #person="ngModel"
          [required]="true"
        ></p-dropdown>
      </div>

      <div class="col-12 flex flex-column p-fluid">
        <label>Observação</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea></textarea>
      </div>

      <div class="col-12">
        <button
          pButton
          type="submit"
          label="Salvar"
          [disabled]="registerForm.invalid"
        ></button>
        <p-button type="button" label="Novo" class="p-button-info"></p-button>
        <p-button label="Voltar para a pesquisa" styleClass="p-button-link">
        </p-button>
      </div>
    </div>
  </form>
</div>
